/*
COLORES
*/
/*
FONT FAMILY
*/
/*
PADDING
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

.header__icon {
  height: 20px;
  padding-left: 15px;
  padding-right: 7px;
}

.header__menu {
  padding: 20px 40px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__menuGen {
  background: #092340;
}

.header__menuCat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 40px 20px 40px;
  height: 50px;
  background: #092340;
  border-top: 2px solid #1e5297;
}

.header__btn {
  padding: 20px 40px;
  background-color: #4EACF0;
}

.header__logo {
  height: 40px;
}

.header__link {
  margin: 0px 10px;
  padding: 2px 5px;
  text-align: center;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

.header__link:hover {
  background: #1e5297;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  border-radius: 4px;
}

.cart__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.degrade {
  display: block;
  height: 8px;
  background: #55c8dc;
  background: -webkit-gradient(linear, left top, right top, from(#55c8dc), color-stop(40%, #e00a95), color-stop(70%, #fc7e3b), to(#ffde02));
  background: linear-gradient(90deg, #55c8dc 0%, #e00a95 40%, #fc7e3b 70%, #ffde02 100%);
  width: 100%;
}

.titulo32 {
  font-size: 32px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: #092340;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

.txt12l {
  font-size: 0.75rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #fff;
}

.txt12d {
  font-size: 0.75rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #000;
}

.txt12h {
  font-size: 0.75rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #979797;
}

.txt12h:hover {
  color: #1e5297;
}

.txt14l {
  font-size: 0.875rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #fff;
}

.txt14d {
  font-size: 0.875rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #000;
  padding-bottom: 15px;
}

.texto16 {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #fff;
}

.card {
  text-align: center;
  margin: 10px;
  max-width: 380px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
}

.card__image {
  width: 100%;
  height: auto;
  padding-bottom: 12px;
  padding-top: 10px;
}

.card__titulo {
  font-size: 1.125rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #434343;
  margin-bottom: 7px;
  height: 30px;
}

.card__condicion {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #434343;
  text-transform: uppercase;
  width: 100%;
}

.card__precio2 {
  font-size: 2.813rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #29ECA2;
  line-height: 45px;
}

.card__compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  width: 100%;
  padding: 0 10px 0 10px;
  background-color: #29ECA2;
  margin-top: 15px;
}

.card__envio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__envioIcon {
  height: 20px;
}

.card__envioText {
  padding-left: 10px;
  width: 50px;
  text-align: center;
}

.singlecard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1000px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 1.375rem;
}

.singlecard__image {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  padding-bottom: 10px;
  padding-top: 10px;
}

.singlecard__info {
  max-width: 50%;
}

.singlecard__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.singlecard__titulo {
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #434343;
  margin-top: 7px;
  margin-bottom: 7px;
}

.singlecard__etiq {
  background: #4EACF0;
  height: 24px;
  width: 185px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  padding: 3px 10px;
  margin-right: 17px;
  border-radius: 4px;
  width: 100%;
}

.singlecard__condicion {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #434343;
  text-transform: uppercase;
  width: 100%;
}

.singlecard__card {
  border: 1px solid #d9d9d9;
  border-radius: 10px 10px 0 0;
}

.singlecard__precios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.singlecard__precio2 {
  font-size: 2.813rem;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #4EACF0;
  line-height: 45px;
  text-align: center;
}

.singlecard__compra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  width: 100%;
  padding: 0 10px 0 10px;
  background-color: #29ECA2;
  margin-top: 15px;
}

.singlecard__envio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singlecard__icon15 {
  height: 15px;
  padding-right: 5px;
}

.singlecard__icon20 {
  height: 20px;
}

.singlecard__envioText {
  padding-left: 10px;
  width: 50px;
  text-align: center;
}

.cardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin: 30px 30px;
}

.cardAhorro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3px;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}

.cardAhorro__precio {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #979797;
  text-decoration: line-through;
  width: auto;
  margin: 5px 5px 0 0;
}

.cardAhorro__desc {
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #4EACF0;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.cardBtn {
  color: #fff;
  font-size: 0.875rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  letter-spacing: .025rem;
  background-color: #7423B4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 7px 7px;
  margin-left: 10px;
  cursor: pointer;
}

.cardBtn:hover {
  background-color: #092340;
}

.cardContador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.cardContador__stock {
  font-size: 0.875rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #979797;
  padding: 7px 8px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin: 0 5px;
}

.cardContador__btn {
  color: #fff;
  font-size: 0.875rem;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  letter-spacing: .025rem;
  background-color: #7423B4;
  border: none;
  width: 25px;
  padding: 7px 0;
  text-align: center;
  cursor: pointer;
}

.cardContador__btn:hover {
  background-color: #092340;
}
/*# sourceMappingURL=main.css.map */