.card{
    text-align: center;
    margin: 10px;
    max-width: 380px;
    border: 1px solid $color-btn2;
    background-color: $color-light;
}

.cardList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin: 30px 30px;
}

.cardImage{
    width: 100%;
    height: auto;
    padding-bottom: 12px;
    padding-top: 10px;
}

.cardTitulo{
    font-size: $font-18;
    font-family: $font;
    font-weight: $font-400;
    color: $color-texto1;
    margin-bottom: 7px;
    height: 30px;
}

.cardCondicion{
    font-size: $font-16;
    font-family: $font;
    font-weight: $font-700;
    color: $color-texto1;
    text-transform: uppercase;
    width: 100%;
}

.cardAhorro{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    &__precio {
        font-size: $font-16;
        font-family: $font;
        font-weight: $font-400;
        color: $color-btn2;
        text-decoration: line-through;
        width: auto;
        margin: 5px 5px 0 0;
    }
    &__desc{
        font-size: $font-16;
        font-family: $font;
        font-weight: $font-700;
        color: $color-light;
        text-transform: uppercase;
        background-color: $color-enfasis1;
        padding: 5px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
    }
}

.cardPrecio2{
    font-size: $font-45;
    font-family: $font;
    font-weight: $font-700;
    color: $color-secu;
    line-height: 45px;
}

.cardBtn{
    color: $color-light;
    font-size: $font-14;
    font-family: $font;
    font-weight: $font-400;
    border-radius: 5px;
    letter-spacing: .025rem;
    background-color: $color-btn1;
    align-items: center;
    border: none;
    padding: 7px 7px;
    margin-left: 10px;
    cursor: pointer;
    }

    .cardCompra {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 35px;
        width: 100%;
        padding: 0 10px 0 10px ;
        background-color: $color-secu;
        margin-top: 15px;
    }

    .cardEnvio{
        display: flex;
        align-items: center;
        &__icon{
            height: 20px;
        }

        &__text{
            padding-left: 10px;
            width: 50px;
            text-align: center;
        }
    }

    .cardContador{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7px;
        &__stock{
            font-size: $font-14;
            font-family: $font;
            font-weight: $font-400;
            color: $color-btn2;
            padding: 7px 8px;
            border: 1px solid $color-btn2;
            border-radius: 5px;
            margin: 0 5px;
        }
        &__btn{
            color: $color-light;
            font-size: $font-14;
            font-family: $font;
            font-weight: $font-700;
            border-radius: 5px;
            letter-spacing: .025rem;
            background-color: $color-btn1;
            border: none;
            width: 25px;
            padding: 7px 0;
            text-align: center;
            cursor: pointer;
            }
    }
    