.form {
    max-width: 500px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;


    &__placeText {
        border: none;
        background-color: $color-bg;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 0.8em;
        font-family: $font;
        padding: 12px;
        width: 100%;
        border-radius: 7px;
    }

    &__btn{
        color: $color-light;
        width: 100%;
        font-size: $font-14;
        font-family: $font;
        font-weight: $font-400;
        text-transform: uppercase;
        border-radius: 7px;
        border: 1px solid $color-titulos;
        background-color: $color-titulos;
        margin-top: 15px;
        padding: 8px 7px;
        cursor: pointer;
            &:hover{
                background-color: $color-ppal;
                color: $color-light;
                border: none;}
            &:disabled{
                background-color: $color-light;
                color: $color-btn2;
                border: 1px solid $color-btn2;
                cursor: auto;
            }
    }
}