@mixin for-tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  
  @mixin for-phone {
      @media (max-width: 425px) {
        @content;
      }
    }

@mixin icon {
    height: 20px;
}
@mixin menu{
    padding: 20px 40px 20px 40px;
    display: flex;
    align-items: center;
}

.header{
    &__icon{
        @include icon;
        padding-left: 15px;
        padding-right: 7px;
    }
    &__menu{
        @include menu;
        justify-content: space-between;
        width: 100%;
        @include for-phone{
            padding: 20px 15px;
        }
    }
    &__menuGen{
        background: $color-ppal;
    }
    &__menuCat{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 40px 20px 40px;
        height: 50px;
        background: $color-ppal;
        border-top: 2px solid $color-hover;
    }
    &__btn{
        padding: 20px 40px;
        background-color: $color-enfasis1;
    }
    &__logo{
        height: 40px;
        @include for-phone{
            height: 25px;
        }
    }
    &__link {
        margin: 0px 10px;
        padding: 2px 5px;
        text-align: center;
        color: $color-light;
        font-family: $font;
        font-weight: $font-400;
        font-size: $font-14;
        &:hover {
        background: $color-hover;
        transition: .5s;
        text-decoration: none;
        border-radius: 4px;
    }
    }
}

.cart__menu {
    display: flex;
    align-items: center;
}