.degrade{
    display: block;
    height: 8px;
    background: #55c8dc;
    background: linear-gradient(90deg,#55c8dc 0%,#e00a95 40%,#fc7e3b 70%,#ffde02 100%);
    width: 100%;
}
.titulo32{
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: $color-ppal;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}

@mixin texto12{
    font-size: $font-12;
    font-family: $font;
    font-weight: $font-400;
}

.txt12l{
    @include texto12;
    color: $color-light;
}

.txt12d{
    @include texto12;
    color: $color-dark;
}

.txt12h{
    @include texto12;
    text-transform: capitalize;
    color: $color-btn2;
    &:hover{
        color: $color-hover;
    }
}

@mixin texto14{
    font-size: $font-14;
    font-family: $font;
    font-weight: $font-400;
}
.txt14l{
    @include texto14;
    color: $color-light;
}
.txt14d{
    @include texto14;
    color: $color-dark;
    padding-bottom: 15px;
}

.texto16{
    font-size: $font-16;
    font-family: $font;
    font-weight: $font-400;
    color: $color-light;
}