.degrade{
    display: block;
    height: 8px;
    background: #55c8dc;
    background: linear-gradient(90deg,#55c8dc 0%,#e00a95 40%,#fc7e3b 70%,#ffde02 100%);
    width: 100%;
}
.titulo32{
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: $color-ppal;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}
.texto12{
    font-size: $font-12;
    font-family: $font;
    font-weight: $font-400;
    color: $color-light;
}

.texto14{
    font-size: $font-14;
    font-family: $font;
    font-weight: $font-400;
    color: $color-light;
}

.texto16{
    font-size: $font-16;
    font-family: $font;
    font-weight: $font-400;
    color: $color-light;
}