/*
COLORES
*/
$color-ppal: #092340;
$color-secu: #29ECA2;
$color-titulos: #54BA48;
$color-texto1: #434343;
$color-texto2: #505050;
$color-enfasis1: #4EACF0;
$color-enfasis2: #FC5226;
$color-border: #d9d9d9;
$color-bg: #f4f4f4;
$color-hover: #1e5297;
$color-btn1: #7423B4;
$color-btn2: #979797;
$color-light: #fff;
$color-dark: #000;

/*
FONT FAMILY
*/

$font: 'Rubik', sans-serif;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-700: 700;
$font-12: 0.75rem; // 12px
$font-14: 0.875rem; // 14px
$font-16: 1rem; // 16px
$font-18: 1.125rem; // 18px
$font-22: 1.375rem; // 22px
$font-32: 2rem; // 32px
$font-45: 2.813rem; // 45px

/*
PADDING
*/

$pad-contorno: 1.375rem;
