/*
COLORES
*/
$color-ppal: #092340;
$color-secu: #29ECA2;
$color-titulos: #54BA48;
$color-texto1: #434343;
$color-texto2: #505050;
$color-enfasis1: #4EACF0;
$color-enfasis2: #FC5226;
$color-bg: #f4f4f4;
$color-btn1: #7423B4;
$color-btn2: #979797;
$color-light: #fff;
$color-dark: #000;

/*
FONT FAMILY
*/

$font: 'Rubik', sans-serif;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-700: 700;
$font-0-8: 0.8em;
$font-1: 1rem;
$font-1-2: 1.2em;
$font-1-5: 1.5em;
$font-2: 2em;
$font-3-4: 3.4em;
$font-4: 4em;

/*
PADDING
*/

$pad-contorno: 2.5em;
